.brand {

    text-align: center;
    font-size: 50px;
    color: #172A3A;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    text-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

    margin-left: 300px;
}

header {

    background-color: #09BC8A;
    padding: 20px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.1), 0 4px 4px hsl(0deg 0% 0% / 0.1),
    0 8px 8px hsl(0deg 0% 0% / 0.1), 0 16px 16px hsl(0deg 0% 0% / 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {

    font-size: 30px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    color: #172A3A;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

    margin-right: 200px;
}

.profile {

    margin-right: 200px;
}

.logout {
    cursor: pointer;
}

.offcanvas-header {

    background-color: #09BC8A;
}

.offcanvas-body {

    background-color: #09BC8A;
}

.options {

    color: #172A3A;
}

.offcanvas-body h3 {

    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    margin: 60px 0 60px 0;
}