
.table-container {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family:inherit;
  }
  
  thead {
    background-color: #f2f2f2;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  img {
    width: 50px;
    height: auto;
    border-radius: 5px; 
  }
  